*,
html{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    box-shadow: none;
    transition: all 1s ease;
}

/* ===== DROPDOWN PROJECT ===== */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    padding: 6px 16px;
    display: flex;
}

.dropdown-menu {
    position: absolute;
    background: transparent;
    border-radius: 12px;
    margin: 0;
    padding: 0;
    gap: 0;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    z-index: 999;
}

.dropdown-menu a {
    display: block;
    margin: 0;
    padding: 6px 16px;
    line-height: 1.2;
    color: black;
    text-decoration: none;
    font-style: none;
    list-style-type: none;
    font-size: 16px;
}

.dropdown-menu a:hover {
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
}

/* Hover effect */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    background: rgba(55, 55, 55, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.15); /* semi transparan */
  backdrop-filter: blur(10px);          /* blur effect */
  -webkit-backdrop-filter: blur(10px);
}

.judul{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 30%;
    color: white;
}
.judul p{
    margin-left: 50px;
    font-size: 34px;
    font-weight: 700;
}

.link{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}
.link a{
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 6px 16px;
}

.link a:hover{
    background: rgba(180, 180, 180, 0.1);
    border-radius: 6px;
}

.kirian{
    height: 100%;
    width: 30%;
}

/* KONTEN */
.konten{
    padding-top: 130px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
    background-color: #1c1c1c;
}

.kertas{
    background-color: white;
    border-radius: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1{
    margin-bottom: 30px;
    color: white;
}

.nama, .kontak, .judulk, .subjudul, .teks{
    margin-left: 150px;
    margin-right: 150px;
}

.nama{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
}

.kontak{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
}

.judulk{
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subjudul{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
}

.teks{
    font-size: 20px;
    font-weight: 400;
}

.lihatcv{
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 8px;
    width: 105px;
    margin-top: 30px;
    font-weight: 700;
}

.a{
    text-decoration: none;
}

/* FOOTER */
.footer{
    background-color: #1c1c1c;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.467);
}