*,
html{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    box-shadow: none;
    transition: all 1s ease;
}

/* ===== DROPDOWN PROJECT ===== */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    padding: 6px 16px;
    display: flex;
}

.dropdown-menu {
    position: absolute;
    background: transparent;
    border-radius: 12px;
    margin: 0;
    padding: 0;
    gap: 0;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    z-index: 999;
}

.dropdown-menu a {
    display: block;
    margin: 0;
    padding: 6px 16px;
    line-height: 1.2;
    color: black;
    text-decoration: none;
    font-style: none;
    list-style-type: none;
    font-size: 16px;
}

.dropdown-menu a:hover {
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
}

/* Hover effect */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.15); /* semi transparan */
  backdrop-filter: blur(10px);          /* blur effect */
  -webkit-backdrop-filter: blur(10px);
}

.judul{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 30%;
    color: white;
}
.judul p{
    margin-left: 80px;
    font-size: 34px;
    font-weight: 700;
}

.link{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}
.link a{
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 6px 16px;
}

.link a:hover{
    background: rgba(180, 180, 180, 0.1);
    border-radius: 6px;
}

.kirian{
    height: 100%;
    width: 30%;
}

/* KONTEN */
.konten{
    background-color: #1c1c1c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.konten-kiri{
    width: 50%;
    height: 100%;
    padding-left: 80px;
    color: white;
}

.konten-teks{
    margin-top: 210px;
    margin-bottom: 160px;
}

.t1{
    font-size: 25px;
    font-weight: 400;
}

.t2{
    font-size: 60px;
    font-weight: 700;
}

.t21{
    font-size: 60px;
    font-weight: 700;
    color: rgb(63, 63, 255);
    margin-left: 15px;
}

.t3{
    font-size: 30px;
    font-weight: 500;
    margin-top: 5px;
}

.tp{
    display: flex;
}

.pt{
    display: flex;
}

.konten-teks a{
    text-decoration: none;
}
.tombol{
    background-color: blue;
    width: 140px;
    padding: 8px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    transition: transform .06s ease, box-shadow .2s ease, background .2s;
}

.tombol2{
    margin-left: 80px;
    border: 2px solid blue;
    width: 140px;
    padding: 8px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    transition: transform .06s ease, box-shadow .2s ease, background .2s;
}

.tombol:hover{
    background-color: rgb(0, 0, 154);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(139, 139, 255, 0.519);
}

.tombol2:hover{
    background-color: rgba(139, 139, 255, 0.519);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(139, 139, 255, 0.519);
}

.iconsosmed img{
    height: 50px;
    width: 50px;
    margin-right: 70px;
}

.konten-kanan{
    width: 50%;
    height: 100%;
}

.konten-kanan img{
    width: 90%;
    height: 100%;
}

/* ==========================
   ANIMATION ON LOAD
========================== */

/* kondisi awal */
.animate-left,
.animate-bottom {
    opacity: 0;
}

/* teks dari kiri */
.animate-left {
    transform: translateX(-80px);
}

/* gambar dari bawah */
.animate-bottom {
    transform: translateY(80px);
}

/* aktif saat page load */
.animate-left.show {
    animation: slideLeft 1s ease forwards;
}

.animate-bottom.show {
    animation: slideUp 1.2s ease forwards;
}

/* KEYFRAMES */
@keyframes slideLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-left.show {
    animation-delay: 0.2s;
}

.animate-bottom.show {
    animation-delay: 0.5s;
}



/* FOOTER */
.footer{
    background-color: #1c1c1c;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.467);
}


