*,
html{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NAVBAR */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    box-shadow: none;
    transition: all 1s ease;
}

/* ===== DROPDOWN PROJECT ===== */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    padding: 6px 16px;
    display: flex;
}

.dropdown-menu {
    position: absolute;
    background: transparent;
    border-radius: 12px;
    margin: 0;
    padding: 0;
    gap: 0;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    z-index: 999;
}

.dropdown-menu a {
    display: block;
    margin: 0;
    padding: 6px 16px;
    line-height: 1.2;
    color: white;
    text-decoration: none;
    font-style: none;
    list-style-type: none;
    font-size: 16px;
}

.dropdown-menu a:hover {
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
}

/* Hover effect */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.15); /* semi transparan */
  backdrop-filter: blur(10px);          /* blur effect */
  -webkit-backdrop-filter: blur(10px);
}

.judul{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 30%;
    color: white;
}
.judul p{
    margin-left: 80px;
    font-size: 34px;
    font-weight: 700;
}

.link{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}
.link a{
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 6px 16px;
}

.link a:hover{
    background: rgba(180, 180, 180, 0.1);
    border-radius: 6px;
}

.kirian{
    height: 100%;
    width: 30%;
}

/* KONTEN 1*/
.konten-1{
    background-color: #1c1c1c;
    height: 300px;
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

.pp{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    margin-right: 30px;
    background-color: red;
}

.pp img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.profil{
    margin-left: 10px;
}
.nama{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}
.kt{
    font-size: 30px;
    font-weight: 400;
}
.kp{
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

/* KONTEN 2 */
.konten-2{
    background-color: #1c1c1c;
    color: white;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
}   

.ps{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.isi{
    font-size: 20px;
    font-weight: 400;
}

/* KONTEN 3 */
.konten-3{
    background-color: #1c1c1c;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.pendidikan{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.box-konten3{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    height: 100%;
    width: 500px;
    background-color: white;
    color: black;
    border-radius: 30px;
    margin-right: 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.467);
}
.tj{
    font-size: 22px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.t{
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
}

.box-2{
    height: 100%;
    width: 500px;
    background-color: white;
    color: black;
    border-radius: 30px;
    margin-left: 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.467);
}

/* KONTEN 4 */
.konten-4{
    background-color: #1c1c1c;
    color: white;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
}

.keterampilan{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.atas{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.pinggir{
    text-align: center;
}
.kiri{
    text-align: center;
    margin-left: 120px;
    margin-right: 60px;
}
.kanan{
    text-align: center;
    margin-left: 60px;
    margin-right: 120px;
}

.bawah{
    display: flex;
    justify-content: center;
}
.tengah{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

.g{
    height: 120px;
    width: 120px;
}

/* KONTEN 5 */
.konten-5{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #1c1c1c;
    color: white;
}

.organisasi{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.o{
    display: flex;
    justify-content: left;
}

.o-tengah{
    margin-right: 220px;
    margin-left: 220px;
}

.ji{
    font-size: 20px;
    font-weight: 500;
}

.i{
    font-size: 20px;
    font-weight: 400;
}

/* KONTEN 6 */
.konten-6{
    background-color: #1c1c1c;
    color: white;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
}

.proyek-apk{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.box-konten7{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
}

.pertama{
    background-color: white;
    height: 100%;
    width: 410px;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.467);
}

.kedua{
    background-color: white;
    height: 100%;
    width: 410px;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.467);
}

.jk{
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}

.k{
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
}

/* KONTEN 7 */
.konten-7{
    background-color: #1c1c1c;
    color: white;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
}

.proyek-apk{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.box-konten7{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pertama{
    background-color: white;
    height: 100%;
    width: 410px;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.467);
}

.kedua{
    background-color: white;
    height: 100%;
    width: 410px;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.467);
}

.jk{
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 30px;
}

.k{
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
    margin-right: 270px;
    margin-bottom: 30px;
    padding: 6px 16px;
    border-radius: 8px;
    background-color: rgb(197, 197, 197);
    display: flex;
    text-decoration: none;
    color: black;
}

.k:hover{
    background-color: rgb(134, 134, 134);
}

.vb{
    width: 353px;
    height: 236px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.psf{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 8px;
    width: 353px;
    height: 236px;
    border-radius: 8px;
}

.psd{
    width: 190px;
    height: 236px;
    margin-top: 20px;
    margin-left: 110px;
    margin-right: 100px;
    margin-bottom: 8px;
    border-radius: 8px;
}

/* KONTEN 8 */
.konten-8{
    background-color: #1c1c1c;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.kontak{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.flex8{
    display: flex;
    align-items: center;
    justify-content: center;
}

.no{
    text-align: center;
}

.kontak-email{
    text-align: center;
    margin-left: 140px;
    margin-right: 70px;
}

.kontak-ig{
    text-align: center;
    margin-left: 70px;
    margin-right: 140px;
}

.gk{
    height: 50px;
    width: 50px;
}

/* FOOTER */
.footer{
    background-color: #1c1c1c;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.467);

}
